
notebooks/.ipynb_checkpoints
data/interim/.ipynb_checkpoints
scripts/client_secrets.json
scripts/trash
scripts/mycreds.txt
scripts/results
scripts/LoL/4_Password.txt
scripts/LoL/2.2_Username.txt
*.pyc
